<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-label>
          <p>{{ item.menuItem.price }}</p>
          <h2>{{ item.menuItem.name }}</h2>
        </ion-label>
        <!-- 
        <ion-badge slot="end">{{ qty }}</ion-badge>

        <ion-button fill="outline" size="small" (click)="add()"> 
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-button fill="outline" size="small" (click)="subtract()">
          <ion-icon name="remove"></ion-icon>
        </ion-button> -->
      </ion-item>
      <ion-item-options side="start">
        <button ion-button color="danger" icon-only (click)="removeItem(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-button
          fill="clear"
          color="black"
          icon-only
          (click)="onClick(item)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createOrder(cartItem)"
      ><ion-icon name="arrow-forward-outline"></ion-icon
    ></ion-fab-button>
  </ion-fab>
</ion-content>
